{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
</head>
<body ng-app="fbcmtApp">
<div class="container">
{% if user and not user.is_anonymous %}
Hello, <b>{{ user.get_full_name }}!</b>, <a href="/logout/">Logout</a>
{% else %}
  <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
{% endif %}
<div class="content col-md-12" ng-controller="FbPostCtlr">
{% block content %}
    <div>
		<div class="page-header">
			<h1>
				Convert!! <small>Collect all comments from your facebook and turn it into Google Spreadsheet.</small>
			</h1>
		</div>
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Link:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="facebook_url" placeholder="請輸入你的Facebook連結">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Gmail:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="google_mail" placeholder="請輸入你Google硬碟用的email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="reply_on_post"> Reply on post.</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-hide="loader.loading" class="btn btn-default btn-default btn-lg " ng-click="convert()">Convert</button>
                    <button ng-show="loader.loading" ng-disabled="loader.loading" class="btn btn-default btn-success btn-lg ">Processing...
                        <i class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
        <p>
        	<h3 class="text-center">
    			{{ google_document_link }}
    		</h3>
    	</p>
    </div>
    <hr>
    <div class="panel" ng-repeat="post in author_posts">
        <div class="panel-heading clearfix">
            {% verbatim %}
            <p class="well">[{{ post.username }}] {{ post.message }}</p>
            {% endverbatim %}
        </div>
        {% verbatim %}
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="comments in post.comments">
              <p ng-repeat="comment in comments">[{{ comment.from.name }}] {{ comment.message }}</p>
          </li>
        </ul>
        {% endverbatim %}
    </div>
{% endblock %}
</div>
</div>
{% block js %}
<script src="{% static "underscore/underscore.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular/angular-resource.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/controllers.js" %}"></script>
<script src="{% static "js/services.js" %}"></script>
{% endblock %}
</body>
</html>